@import "tailwindcss";

/* Custom TailwindCSS utilities with arbitrary values */
/* See https://tailwindcss.com/docs/adding-custom-styles#functional-utilities */
@utility wordsp-* {
    word-spacing: --value([length]);
}

/* NOTE: for multiple values use underscore _:
   e.g. p-[1rem_2rem_3rem_4rem]
      = padding: 1rem 2rem 3rem 4rem
*/
/* This works also, but gives vscode error:
   (call with: `clipcirc-[45%_at_52%_50%]`)
@utility clipcirc-* {
  clip-path: circle(--value([*]));
}
*/
@utility clipcirc-radius-* {
  --clip-circ-radius: --value([percentage]);
  clip-path: circle(var(--clip-circ-radius) at var(--clip-circ-x) var(--clip-circ-y));
}
@utility clipcirc-x-* {
  --clip-circ-x: --value([percentage]);
}
@utility clipcirc-y-* {
  --clip-circ-y: --value([percentage]);
}

/* For customizing the dimension, orientation, and margins of printed pages: */
@page {
  size: A4 portrait;
  page-orientation: upright;
  margin: 0;
}

:root {
  --header-bg: #d9d9d9;
  --sidebar-bg: black;
  /* --sidebar-bg: #323232; */
  --main-bg: white;
  /* --main-bg: #ebebeb; */

  --sidebar-pos-top: 2rem;
  --sidebar-pos-left: 1rem;
  --sidebar-width: 33vw;
  --heading-height: 2.2rem;
}

html, body {
  /* A4 paper size for printing: */
  /* width: 210mm;
  height: 297mm; */
  min-height: 150vh;
  max-width: 100%;
  position: relative;
  margin: 0;
  display: grid;
  grid-template-rows: min-content auto;
  font-family: 'Poppins';
}

/* * { outline: 1px solid red; } */


/**************************
*         Fonts:          *
***************************/
/* Poppins Font: */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Poppins/Poppins-400-Normal-Regular.ttf) format('woff2');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/Poppins/Poppins-400-Normal-Italic.ttf) format('woff2');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Poppins/Poppins-500-Medium-Regular.ttf) format('woff2');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  src: url(../fonts/Poppins/Poppins-500-Medium-Italic.ttf) format('woff2');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/Poppins/Poppins-600-SemiBold-Regular.ttf) format('woff2');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  src: url(../fonts/Poppins/Poppins-600-SemiBold-Italic.ttf) format('woff2');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Poppins/Poppins-700-Bold-Regular.ttf) format('woff2');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/Poppins/Poppins-700-Bold-Italic.ttf) format('woff2');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/Poppins/Poppins-800-ExtraBold-Regular.ttf) format('woff2');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  src: url(../fonts/Poppins/Poppins-800-ExtraBold-Italic.ttf) format('woff2');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/Poppins/Poppins-900-Black-Regular.ttf) format('woff2');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 900;
  src: url(../fonts/Poppins/Poppins-900-Black-Italic.ttf) format('woff2');
}

/* Work Sans Font: */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  src: url(../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf) format('woff2');
}
@font-face {
  font-family: 'Work-Sans';
  font-style: italic;
  src: url(../fonts/Work_Sans/WorkSans-Italic-VariableFont_wght.ttf) format('woff2');
}

/* Inter Font: */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  src: url(../fonts/Inter/Inter-VariableFont_wght.ttf) format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  src: url(../fonts/Inter/Inter-Italic-VariableFont_wght.ttf) format('woff2');
}
