@import 'tailwindcss';

/* Custom TailwindCSS utilities with arbitrary values */
/* See https://tailwindcss.com/docs/adding-custom-styles#functional-utilities */
@utility wordsp-* {
    word-spacing: --value([length]);
}

/* NOTE: for multiple values use underscore _:
   e.g. p-[1rem_2rem_3rem_4rem]
      = padding: 1rem 2rem 3rem 4rem
*/
/* This works also, but gives vscode error:
   (call with: `clipcirc-[45%_at_52%_50%]`)
@utility clipcirc-* {
  clip-path: circle(--value([*]));
}
*/
@utility clipcirc-radius-* {
  --clip-circ-radius: --value([percentage]);
  clip-path: circle(var(--clip-circ-radius) at var(--clip-circ-x) var(--clip-circ-y));
}
@utility clipcirc-x-* {
  --clip-circ-x: --value([percentage]);
}
@utility clipcirc-y-* {
  --clip-circ-y: --value([percentage]);
}

/* For customizing the dimension, orientation, and margins of printed pages: */
@page {
  size: A4 portrait;
  page-orientation: upright;
  margin: 0;
}

:root {
  --accent-color: #b2afaf;
  --header-bg: #d9d9d9;
  --sidebar-bg: black;
  --main-bg: white;

  --sidebar-margin-top: 1rem;
  --sidebar-margin-left: 1.5rem;
  --sidebar-width: 36vw;
  --header-margin-top: 4.5rem;
  --header-padding-left: 4.5rem;
  --sidebar-heading-height: 2.6em;
  --main-heading-height: 2.7em;

  --bullet-diameter: 0.65em;
  /* Hollow bullet diameter relative to `--bullet-diameter`: */
  --hollow-bullet-diameter: 0.875;

  font-size: 10px;
}

body {
  min-height: 100vh;
  max-width: 100%;
  position: relative;
  margin: 0;
  display: grid;
  grid-template-rows: min-content min-content;
  font-size: 1.5rem;
  font-family: 'Poppins';
}

header {
  --text-color: var(--sidebar-bg);
  --bg-color: var(--header-bg);
}

aside {
  --text-color: var(--main-bg);
  --bg-color: var(--sidebar-bg);

  .list {
    .list-item {
      /* Space between bullet and text: */
      gap: 0.5em;
    }
  }
  #about-me {
    .list-item {
      .list-bullet-container {
        margin-top: 0.05em;
      }
    }
  }
  #soft-skills {
    .list-item {
      .list-bullet-container {
        margin-top: 0.15em;
      }
    }
  }
  #tech-skills {
    .list-item {
      .list-bullet-container {
        margin-top: 0.2em;
      }
    }
  }
}

main {
  --text-color: var(--sidebar-bg);
  --bg-color: var(--main-bg);
}

/* Implementation of <div> as <ul> list with
   vertical connecting lines between bullets: */
.list {
  position: relative;
  display: flex;
  flex-direction: column;
  line-height: 1em;
  .list-line {
    position: absolute;
    border-left: 1px solid var(--accent-color);
    top: 0.5em;
    bottom: 0.2em;
    left: calc(0.5em - 1/32 * 1em);
  }
  .list-item {
    position: relative;
    display: flex;
    /* Space between bullet and text: */
    gap: 0.8em;

    .list-bullet-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 1em;
      width: 1em;
      /* Use `min-height/width` to prevent
         distortion on smaller viewports: */
      min-height: 1em;
      min-width: 1em;

      .list-bullet {
        position: relative;
        height: var(--bullet-diameter);
        width: var(--bullet-diameter);
        min-height: var(--bullet-diameter);
        min-width: var(--bullet-diameter);
        background-color: var(--text-color);
        border-radius: 50%;
        z-index: 10;
        .list-bullet-hollow {
          position: relative;
          top: calc((1 - var(--hollow-bullet-diameter)) * var(--bullet-diameter));
          left: calc((1 - var(--hollow-bullet-diameter)) * var(--bullet-diameter));
          height: calc(100% - 2 * (1 - var(--hollow-bullet-diameter)) * 100%);
          width: calc(100% - 2 * (1 - var(--hollow-bullet-diameter)) * 100%);
          min-height: calc(100% - 2 * (1 - var(--hollow-bullet-diameter)) * 100%);
          min-width: calc(100% - 2 * (1 - var(--hollow-bullet-diameter)) * 100%);
          background-color: var(--bg-color);
          border-radius: 50%;
          z-index: 15;
        }
      }
    }
  }
}

/* * { outline: 1px solid red; opacity: 1 !important; visibility: visible !important; } */


/**************************
*         Fonts:          *
***************************/
/* Poppins Font: */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Poppins/Poppins-400-Normal-Regular.ttf) format('woff2');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/Poppins/Poppins-400-Normal-Italic.ttf) format('woff2');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Poppins/Poppins-500-Medium-Regular.ttf) format('woff2');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  src: url(../fonts/Poppins/Poppins-500-Medium-Italic.ttf) format('woff2');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/Poppins/Poppins-600-SemiBold-Regular.ttf) format('woff2');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  src: url(../fonts/Poppins/Poppins-600-SemiBold-Italic.ttf) format('woff2');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Poppins/Poppins-700-Bold-Regular.ttf) format('woff2');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/Poppins/Poppins-700-Bold-Italic.ttf) format('woff2');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/Poppins/Poppins-800-ExtraBold-Regular.ttf) format('woff2');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  src: url(../fonts/Poppins/Poppins-800-ExtraBold-Italic.ttf) format('woff2');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/Poppins/Poppins-900-Black-Regular.ttf) format('woff2');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 900;
  src: url(../fonts/Poppins/Poppins-900-Black-Italic.ttf) format('woff2');
}

/* Work Sans Font: */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  src: url(../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf) format('woff2');
}
@font-face {
  font-family: 'Work-Sans';
  font-style: italic;
  src: url(../fonts/Work_Sans/WorkSans-Italic-VariableFont_wght.ttf) format('woff2');
}

/* Inter Font: */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  src: url(../fonts/Inter/Inter-VariableFont_wght.ttf) format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: italic;
  src: url(../fonts/Inter/Inter-Italic-VariableFont_wght.ttf) format('woff2');
}
